## Context
This classic dataset contains the prices and other attributes of almost 54,000 diamonds. It's a great dataset for beginners learning to work with data analysis and visualization.

## Content
price price in US dollars (\$326--\$18,823)

carat weight of the diamond (0.2--5.01)

cut quality of the cut (Fair, Good, Very Good, Premium, Ideal)

color diamond colour, from J (worst) to D (best)

clarity a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

x length in mm (0--10.74)

y width in mm (0--58.9)

z depth in mm (0--31.8)

depth total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)

table width of top of diamond relative to widest point (43--95)


https://www.kaggle.com/fuzzywizard/diamonds-in-depth-analysis

In [1]:
#import libraries
import pandas as pd
import numpy as np
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine

In [2]:
#Create connection with the diamonds db
engine = create_engine('sqlite:///diamonds_m2.db')
connection = engine.connect()

In [3]:
#Check tables in the db
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6           diamonds_city

In [4]:
query_diamonds_dimensions = """SELECT * FROM diamonds_dimensions"""
diamonds_dimensions = pd.read_sql_query(query_diamonds_dimensions,engine)
diamonds_dimensions

,index_id,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [5]:
query_diamonds_transactional = """SELECT * FROM diamonds_transactional"""
diamonds_transactional = pd.read_sql_query(query_diamonds_transactional,engine)
diamonds_transactional

,index_id,price,city_id,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.34
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,2.02
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,89c7286890f7347ab235234e74d406596a127ae3679042...,1.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,89c7286890f7347ab235234e74d406596a127ae3679042...,0.33
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,1.24

In [6]:
query_diamonds_properties = """SELECT * FROM diamonds_properties"""
diamonds_properties = pd.read_sql_query(query_diamonds_properties,engine)
diamonds_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [7]:
query_diamonds_cut = """SELECT * FROM diamonds_cut"""
diamonds_cut = pd.read_sql_query(query_diamonds_cut,engine)
diamonds_cut

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [8]:
query_diamonds_color = """SELECT * FROM diamonds_color"""
diamonds_color = pd.read_sql_query(query_diamonds_color,engine)
diamonds_color

                                            color_id color
0  333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...     G
1  3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...     D
2  44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...     H
3  6da43b944e494e885e69af021f93c6d9331c78aa228084...     J
4  a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...     I
5  a9f51566bd6705f7ea6ad54bb9deb449f795582d6529a0...     E
6  f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...     F

In [9]:
query_diamonds_clarity = """SELECT * FROM diamonds_clarity"""
diamonds_clarity = pd.read_sql_query(query_diamonds_clarity,engine)
diamonds_clarity

                                          clarity_id clarity
0  03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...     SI2
1  3f9db06236e9719b61c826b612b882fa702ec81574e44c...    VVS2
2  66686ae1f0c9c400ba32dc600a34ff0aa173395bcbc2d8...    VVS1
3  7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...      IF
4  bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...     SI1
5  c2818bc4e5ec4ae4a357a0df6fed73652e169ec676f7d4...      I1
6  ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...     VS1
7  f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...     VS2

In [10]:
query_diamonds_city = """SELECT * FROM diamonds_city"""
diamonds_city = pd.read_sql_query(query_diamonds_city,engine)
diamonds_city

                                              city_id           city
0   0013c01fe0d094209b8bd3d23b8f96dbabcd01ddd2a039...      Amsterdam
1   1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...         Zurich
2   2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...      Las Vegas
3   5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...  New York City
4   5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...          Paris
5   68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...       Tel Aviv
6   6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...          Dubai
7   89c7286890f7347ab235234e74d406596a127ae3679042...       Kimberly
8   ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...          Surat
9   ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...        Antwerp
10  e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...         Madrid
11  ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...         London
12  ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...     Luxembourg

In [11]:
df_diamonds_main = pd.merge(diamonds_dimensions,diamonds_transactional, on="index_id")
df_diamonds_main = pd.merge(df_diamonds_main,diamonds_properties, on="index_id")
df_diamonds_main = pd.merge(df_diamonds_main, diamonds_cut, on="cut_id")
df_diamonds_main = pd.merge(df_diamonds_main,diamonds_color, on="color_id")
df_diamonds_main = pd.merge(df_diamonds_main,diamonds_clarity, on="clarity_id")
df_diamonds_main = pd.merge(df_diamonds_main,diamonds_city, on="city_id")

df_diamonds_main

,index_id,depth,table,x,y,z,price,city_id,carat,cut_id,color_id,clarity_id,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.77,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.51,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.57,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.54,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.53,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.30,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.26,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.31,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat

In [14]:
diamonds_main=df_diamonds_main[['index_id','depth','table','x','y','z','price','carat','cut','color','clarity','city']]
diamonds_main.to_csv('../data/diamonds_main.csv')
diamonds_main

,index_id,depth,table,x,y,z,price,carat,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,1.02,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,0.77,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,1.51,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,0.57,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,0.54,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,0.53,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,0.30,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,0.26,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,0.31,Ideal,F,IF,Surat